In [1]:
print("hello world")

hello world

In [3]:
a = 10

In [5]:
print(a)

10

# markdown
코맨트를 넣는 상자
# 샵1
## 샵2
### 샵3
#### 샵4
##### 샵5
###### 샵6

- 과제 2 대용량 파일 다운로드
- 과제 3 가사 크롤링 워드 클라우드로. 
- 목차3

In [9]:
import requests

# 3rd party 모듈
# urllib 표준 라이브러리, 근데 requests가 더 유명함.

In [11]:
url = 'https://www.naver.com'
response = requests.get(url)

In [13]:
response

In [15]:
type(response)

requests.models.Response

In [17]:
print(response.json)

<bound method Response.json of <Response [200]>>

In [19]:
response.encoding

'UTF-8'

가장 왼쪽에 위치한 비트는 부호(sign) 비트라 하며, 그 값이 0 이면 양수를 나타내고, 1 이면 음수를 나타낸다.

In [22]:
type(response.text)

str

In [24]:
html = response.text
open('naver.html', 'w', encoding='UTF-8').write(html)

212780

Dictionary 안의 Dictionary

In [ ]:
dictionary_ex = {
  "results": {
    "date": "2024-06-24",
    "sunrise": "5:45:07 AM",
    "sunset": "8:38:39 PM",
    "first_light": "3:46:08 AM",
    "last_light": "10:37:39 PM",
    "dawn": "5:13:03 AM",
    "dusk": "9:10:44 PM",
    "solar_noon": "1:11:53 PM",
    "golden_hour": "7:58:43 PM",
    "day_length": "14:53:32",
    "timezone": "America/New_York",
    "utc_offset": -240
  },
  "status": "OK"
}

In [ ]:
type(dictionary_ex)

In [ ]:
dictionary_ex["results"]["day_length"]

In [234]:
url = "https://api.sunrisesunset.io/json?lat=38.907192&lng=-77.036873"

data = requests.get(url).json()

data

{'results': {'date': '2024-06-24',
  'sunrise': '5:45:07 AM',
  'sunset': '8:38:39 PM',
  'first_light': '3:46:08 AM',
  'last_light': '10:37:39 PM',
  'dawn': '5:13:03 AM',
  'dusk': '9:10:44 PM',
  'solar_noon': '1:11:53 PM',
  'golden_hour': '7:58:43 PM',
  'day_length': '14:53:32',
  'timezone': 'America/New_York',
  'utc_offset': -240},
 'status': 'OK'}

In [ ]:
date = "2024-06-24"
url = f"https://api.sunrisesunset.io/json?lat=38.907192&lng=-77.036873&timezone=UTC&date={date}"

data = requests.get(url).json()['results']
data

data frames ==> table


        Column   Column
Row
Row

NaN---> 손실된 데이터. 이게 있을 경우 연산이 불가함.

In [36]:
sample_list = []
sample_list.append({'date': '2024-06-01', 'dayofweek' : 'mon'})
sample_list.append({'date': '2024-06-02', 'dayofweek' : 'tue'})
sample_list.append({'date': '2024-06-03', 'dayofweek' : 'wed'})

sample_list

[{'date': '2024-06-01', 'dayofweek': 'mon'},
 {'date': '2024-06-02', 'dayofweek': 'tue'},
 {'date': '2024-06-03', 'dayofweek': 'wed'}]

In [38]:
import pandas as pd

df = pd.DataFrame(sample_list)
df.to_csv('sample.csv', index=False)

In [40]:
df = pd.read_csv('sample.csv')
df

         date dayofweek
0  2024-06-01       mon
1  2024-06-02       tue
2  2024-06-03       wed

In [62]:
df = pd.DataFrame(sample_list)
df.to_csv(r'C:\Users\405-11\Desktop\test\sample.csv', index=False)

In [64]:
df = pd.read_csv(r'C:\Users\405-11\Desktop\test\sample.csv')
df

         date dayofweek
0  2024-06-01       mon
1  2024-06-02       tue
2  2024-06-03       wed

In [66]:
def sunset_by_date(date):
    url = f"https://api.sunrisesunset.io/json?lat=38.907192&lng=-77.036873&timezone=UTC&date={date}"

    return requests.get(url).json()['results']

In [80]:
sample_list = []
sample_list.append(sunset_by_date('2024-06-01'))
sample_list.append(sunset_by_date('2024-06-02'))
sample_list.append(sunset_by_date('2024-06-03'))
sample_list.append(sunset_by_date('2024-06-04'))

pd.DataFrame(sample_list).to_csv('sample_sunset.csv', index=False)
df = pd.read_csv('sample_sunset.csv')
df

,date,sunrise,sunset,first_light,last_light,dawn,dusk,solar_noon,golden_hour,day_length,timezone,utc_offset
0,2024-06-01,9:46:21 AM,12:28:23 AM,7:51:30 AM,2:23:14 AM,9:15:00 AM,12:59:44 AM,5:07:22 PM,11:49:07 PM,14:42:01,UTC,0
1,2024-06-02,9:45:57 AM,12:29:05 AM,7:50:44 AM,2:24:18 AM,9:14:32 AM,1:00:30 AM,5:07:31 PM,11:49:45 PM,14:43:07,UTC,0
2,2024-06-03,9:45:35 AM,12:29:45 AM,7:50:00 AM,2:25:20 AM,9:14:06 AM,1:01:14 AM,5:07:40 PM,11:50:22 PM,14:44:10,UTC,0
3,2024-06-04,9:45:15 AM,12:30:25 AM,7:49:19 AM,2:26:20 AM,9:13:42 AM,1:01:58 AM,5:07:50 PM,11:50:58 PM,14:45:09,UTC,0

### 시간을 다루는 time
- 웹 크롤링 할 때 수집시간을 늘려서 상대 서버의 자원을 적절하게 사용할 수 있게 해야함(안하면 디도스)
- 일반적인 프로그래밍 상 빠른 코드가 좋은 코드라는 논리에 해당하지 않음(중요!)

In [85]:
import time

for i in range(10):
    time.sleep(2)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [95]:
# 2024-07-01 ~ 2024-07-10 데이터를 모아서 sameple_date.csv 파일에 저장

sample_list = []

for date in pd.date_range('2024-07-01', '2024-07-10'):
    sample_list.append(sunset_by_date(str(date)[:10]))
    time.sleep(1)

pd.DataFrame(sample_list).to_csv('sample_sunset.csv', index=False)
df = pd.read_csv('sample_sunset.csv')
df

,date,sunrise,sunset,first_light,last_light,dawn,dusk,solar_noon,golden_hour,day_length,timezone,utc_offset
0,2024-07-01,9:47:22 AM,12:38:43 AM,7:49:12 AM,2:36:53 AM,9:15:26 AM,1:10:39 AM,5:13:03 PM,11:58:54 PM,14:51:20,UTC,0
1,2024-07-02,9:47:50 AM,12:38:37 AM,7:49:53 AM,2:36:34 AM,9:15:56 AM,1:10:31 AM,5:13:13 PM,11:58:50 PM,14:50:47,UTC,0
2,2024-07-03,9:48:19 AM,12:38:29 AM,7:50:35 AM,2:36:13 AM,9:16:28 AM,1:10:21 AM,5:13:24 PM,11:58:45 PM,14:50:10,UTC,0
3,2024-07-04,9:48:50 AM,12:38:20 AM,7:51:21 AM,2:35:48 AM,9:17:01 AM,1:10:09 AM,5:13:35 PM,11:58:38 PM,14:49:30,UTC,0
4,2024-07-05,9:49:21 AM,12:38:08 AM,7:52:08 AM,2:35:21 AM,9:17:35 AM,1:09:54 AM,5:13:45 PM,11:58:29 PM,14:48:46,UTC,0
5,2024-07-06,9:49:54 AM,12:37:55 AM,7:52:58 AM,2:34:51 AM,9:18:11 AM,1:09:38 AM,5:13:55 PM,11:58:18 PM,14:48:00,UTC,0
6,2024-07-07,9:50:29 AM,12:37:39 AM,7:53:51 AM,2:34:18 AM,9:18:49 AM,1:09:20 AM,5:14:04 PM,11:58:06 PM,14:47:10,UTC,0
7,2024-07-08,9:51:04 AM,12:37:22 AM,7:54:45 AM,2:33:42 AM,9:19:28 AM,1:08:59 AM,5:14:13 PM,11:57:52 PM,14:46:17,UTC,0
8,2024-07-09,9:51:41 AM,12:37:03 AM,7:55:41 AM,2:33:03 AM,9:20:08 AM,1:08:37 AM,5:14:22 PM,11:57:36 PM,14:45:22,UTC,0
9,2024-07-10,9:52:19 AM,12:36:43 AM,7:56:40 AM,2:32:22 AM,9:20:49 AM,1:08:13 AM,5:14:31 PM,11:57:18 PM,14:44:23,UTC,0

### 웹 문서의 종류
#### JSON
- Java Script Object Notation
- Key:Value가 쌍으로 이뤄진 데이터를 저장하거나 전송할 목적
- 개방형 표준 포맷입니다
- 사람, 기계 모두 이해가능한 쉬운 언어, 용량이 적음

#### HTML
- Hyper Text Markup Language
- Hyper text : 텍스트에 추가적인 기능이 들어간 텍스트를 하이퍼 텍스트 라고 함(zB. Link)
- 웹 사이트에서 화면에 표시되는 정보를 약속한 언어
- mark up : 꺽쇠(<>)를 사용하는 태그를 사용하는 규격

#### XML
- eXtensible Markup Language
- HTML의 한계를 극복할 목적으로 만들어진 다목적 언어
- XML은 HTML처럼 데이터를 보여줄 목적이 아닌, 데이터를 저장하고 전달할 목저으로 만들어짐
- XML 태그는 HTML 태그처럼 미리 정해져 있지 않음, 사용자가 직접 정의할 수 있음

In [100]:
url = "https://www.weather.go.kr/w/rss/dfs/hr1-forecast.do?zone=4413125000"
response = requests.get(url).text

'<?xml version="1.0" encoding="UTF-8"?>\n<rss version="2.0">\n<channel>\n<title>기상청 1시간단위 동네예보 웹서비스 - 충청'

In [208]:
import xmltodict

json_data = xmltodict.parse(response)

In [216]:
df = pd.DataFrame(json_data['rss']['channel']['item']['description']['body']['data'])

df.to_csv('weather.csv', index=False, encoding='utf-8-sig')
df = pd.read_csv('weather.csv')
df.set_index("@seq")

,hour,day,temp,tmx,tmn,sky,pty,wfKor,wfEn,pcp,sno,pop,ws,wd,wdKor,wdEn,reh
@seq,,,,,,,,,,,,,,,,,
0,16,0,26.0,-999.0,-999.0,1,0,맑음,Clear,0.0,0.0,0,4.0,6,서,W,60
1,17,0,25.0,-999.0,-999.0,1,0,맑음,Clear,0.0,0.0,0,3.9,6,서,W,55
2,18,0,24.0,-999.0,-999.0,1,0,맑음,Clear,0.0,0.0,0,3.3,6,서,W,60
3,19,0,22.0,-999.0,-999.0,1,0,맑음,Clear,0.0,0.0,0,2.3,6,서,W,60
4,20,0,21.0,-999.0,-999.0,1,0,맑음,Clear,0.0,0.0,0,2.1,6,서,W,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,20,3,24.0,29.0,16.0,1,0,맑음,Clear,0.0,0.0,0,1.6,7,북서,NW,60
77,21,3,22.0,29.0,16.0,1,0,맑음,Clear,0.0,0.0,0,1.6,7,북서,NW,65
78,22,3,21.0,29.0,16.0,1,0,맑음,Clear,0.0,0.0,0,1.5,7,북서,NW,75
79,23,3,21.0,29.0,16.0,1,0,맑음,Clear,0.0,0.0,0,1.5,7,북서,NW,75
80,24,3,20.0,29.0,16.0,1,0,맑음,Clear,0.0,0.0,0,1.3,7,북서,NW,80

In [152]:
json_data['rss']['channel']['item']['description']['body']['data'][0].keys

'맑음'

In [154]:
type(json_data['rss']['channel']['item']['description']['body']['data'])

list

In [160]:
json_data['rss']['channel'].keys()

dict_keys(['title', 'link', 'description', 'language', 'generator', 'pubDate', 'item'])

In [218]:
path = "https://docs.python.org/3/library/codecs.html#text-encodings"
tables = pd.read_html(path)

tables

[                Value                                            Meaning
 0            'strict'  Raise UnicodeError (or a subclass), this is th...
 1            'ignore'  Ignore the malformed data and continue without...
 2           'replace'  Replace with a replacement marker. On encoding...
 3  'backslashreplace'  Replace with backslashed escape sequences. On ...
 4   'surrogateescape'  On decoding, replace byte with individual surr...,
                  Value                                            Meaning
 0  'xmlcharrefreplace'  Replace with XML/HTML numeric character refere...
 1        'namereplace'  Replace with \N{...} escape sequences, what ap...,
              Value                                             Codecs  \
 0  'surrogatepass'  utf-8, utf-16, utf-32, utf-16-be, utf-16-le, u...

                                              Meaning
 0  Allow encoding and decoding surrogate code poi...  ,
                      Range                             Encoding
 0  U-00000000 … U-0000007F                             0xxxxxxx
 1  U-00000080 … U-000007FF                    110xxxxx 10xxxxxx
 2  U-00000800 … U-0000FFFF           1110xxxx 10xxxxxx 10xxxxxx
 3  U-00010000 … U-0010FFFF  11110xxx 10xxxxxx 10xxxxxx 10xxxxxx,
         Codec                 Aliases                     Languages
 0       ascii           646, us-ascii                       English
 1        big5         big5-tw, csbig5           Traditional Chinese
 2   big5hkscs       big5-hkscs, hkscs           Traditional Chinese
 3       cp037          IBM037, IBM039                       English
 4       cp273   273, IBM273, csIBM273  German Added in version 3.4.
 ..        ...                     ...                           ...
 92  utf_16_be                UTF-16BE                 all languages
 93  utf_16_le                UTF-16LE                 all languages
 94      utf_7   U7, unicode-1-1-utf-7                 all languages
 95      utf_8  U8, UTF, utf8, cp65001                 all languages
 96  utf_8_sig                     NaN                 all languages

 [97 rows x 3 columns],
                 Codec     Aliases  \
 0                idna         NaN
 1                mbcs  ansi, dbcs
 2                 oem         NaN
 3              palmos         NaN
 4            punycode         NaN
 5  raw_unicode_escape         NaN
 6           undefined         NaN
 7      unicode_escape         NaN

                                              Meaning
 0  Implement RFC 3490, see also encodings.idna. O...
 1  Windows only: Encode the operand according to ...
 2  Windows only: Encode the operand according to ...
 3                            Encoding of PalmOS 3.5.
 4  Implement RFC 3492. Stateful codecs are not su...
 5  Latin-1 encoding with \uXXXX and \UXXXXXXXX fo...
 6  Raise an exception for all conversions, even e...
 7  Encoding suitable as the contents of a Unicode...  ,
               Codec                                    Aliases  \
 0  base64_codec [1]                            base64, base_64
 1         bz2_codec                                        bz2
 2         hex_codec                                        hex
 3      quopri_codec  quopri, quotedprintable, quoted_printable
 4          uu_codec                                         uu
 5        zlib_codec                                  zip, zlib

                                              Meaning  \
 0  Convert the operand to multiline MIME base64 (...
 1                    Compress the operand using bz2.
 2  Convert the operand to hexadecimal representat...
 3      Convert the operand to MIME quoted printable.
 4                Convert the operand using uuencode.
 5                   Compress the operand using gzip.

                                    Encoder / decoder
 0        base64.encodebytes() / base64.decodebytes()
 1                  bz2.compress() / bz2.decompress()
 2            binascii.b2a_hex() / binascii.a2b_hex()
 3  quopri.encode() with quotetabs=True / quopri.d...
 4  uu.encode() / uu.decode() (Note: uu is depreca...
 5                zlib.compress() / zlib.decompress()  ,
     Codec Aliases                                            Meaning
 0  rot_13   rot13  Return the Caesar-cypher encryption of the ope...]

In [232]:
for c in tables[4]['Codec'] : 
    print(c, end='\t')

ascii	big5	big5hkscs	cp037	cp273	cp424	cp437	cp500	cp720	cp737	cp775	cp850	cp852	cp855	cp856	cp857	cp858	cp860	cp861	cp862	cp863	cp864	cp865	cp866	cp869	cp874	cp875	cp932	cp949	cp950	cp1006	cp1026	cp1125	cp1140	cp1250	cp1251	cp1252	cp1253	cp1254	cp1255	cp1256	cp1257	cp1258	euc_jp	euc_jis_2004	euc_jisx0213	euc_kr	gb2312	gbk	gb18030	hz	iso2022_jp	iso2022_jp_1	iso2022_jp_2	iso2022_jp_2004	iso2022_jp_3	iso2022_jp_ext	iso2022_kr	latin_1	iso8859_2	iso8859_3	iso8859_4	iso8859_5	iso8859_6	iso8859_7	iso8859_8	iso8859_9	iso8859_10	iso8859_11	iso8859_13	iso8859_14	iso8859_15	iso8859_16	johab	koi8_r	koi8_t	koi8_u	kz1048	mac_cyrillic	mac_greek	mac_iceland	mac_latin2	mac_roman	mac_turkish	ptcp154	shift_jis	shift_jis_2004	shift_jisx0213	utf_32	utf_32_be	utf_32_le	utf_16	utf_16_be	utf_16_le	utf_7	utf_8	utf_8_sig